
/* Footer */

footer
{
	box-shadow: 0px 0px 10px $color_black;
	padding: 60px 0;

	h6 
	{
		font-size: 16px;
		color: $color_black;
		text-transform: uppercase;
	}
	a 
	{
		font-size: 16px;
		color: $color_white;
		text-decoration: underline;

		&:hover
		{
			color: inherit;
			text-decoration: underline;
		}
	}

	.footer
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;

		.footer-online-degrees
		{
			order: 0;
			flex: 1 1 80%;
			align-self: auto;

			margin-bottom: 20px;

			ul
			{
				columns: 2;
				margin: 10px 0;
			}
		}

		.footer-general-links
		{
			order: 0;
			flex: 0 1 20%;
			align-self: auto;

			text-align: right;

			h6 
			{
				margin-bottom: 20px;

				&:hover
				{
					color: $color_black;
					text-decoration: underline;
				}
			}

			ul.icons
			{
				li 
				{
					display: inline-block;
					margin-left: 10px;

					&:first-child
					{
						margin: 0;
					}

					span 
					{
						font-size: 30px;
					}
				}
			}

		}

		.footer-copyright-links
		{
			order: 0;
			flex: 1 0 100%;
			align-self: auto;

			margin-top: 20px;

			ul.bottom-links
			{

				padding-bottom: 60px;

				li 
				{
					display: inline-block;
					padding: 0 10px;
					position: relative;

					&:before
					{
						content: "";
						position: absolute;
						height: 40%;
						border-left: 1px solid $color_white;
						top: 45%;
						transform: translateY(-50%);
						left: 0;
					}

					&:first-child
					{
						padding-left: 0;

						&:before
						{
							content: none;
						}
					}
					
				}
			}
		}

		@media screen and(max-width: $screen-desktop)
		{
			padding: 0 10px;
		}


		@media screen and(max-width: $screen-tablet)
		{
			padding-bottom: 40px;
			.footer-online-degrees
			{
				flex: 1 1 100%;
				ul
				{
					columns: 1;
				}
			}
			.footer-general-links
			{

				flex: 1 1 100%;
				text-align: left;
			}
			.footer-copyright-links
			{
				ul.bottom-links li 
				{
					display: block;
					padding: 0;
					margin-bottom: 10px;

					&:before
					{
						content: none;
					}

				}
			}
		}
	}

	.wrapper
	{
		img 
		{
			max-width: 100%;
			margin: 0 auto;
		}
	}

	.footer-rfi
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;

		position: fixed;
		bottom: 0;
		width: 100%;
		left: 0;
		z-index: 75;

		.footer-rfi-link
		{
			order: 0;
			flex: 1 1 50%;
			align-self: stretch;

			a 
			{
				padding: 15px;
				float: left;
				width: 100%;
				text-align: center;

				span 
				{
					display: block;
				}

			}

			&:first-child
			{
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}