html, body, html body
{
	font-family: $font-body;
	color: $color_black;
}

h1, h2, h3, h4, h5, h6, figure
{
	font-family: $font-headers;
	margin: 0;
}

h1 
{
	font-size: 50px;
}

h6 
{
	font-size: 30px;
}

a
{
	text-decoration: none;
	color: inherit;
	&:hover, &:active, &:focus
	{
		color: inherit;
		text-decoration: underline;
	}
}
.container
{
	max-width: $screen-desktop;
}

.container-desktop
{
	max-width: $screen-desktop;
	margin: 0 auto;
}

.container-desktop-padding
{
	padding: 30px 0;

	@media screen and (max-width: $screen-tablet)

	{
		padding: 20px 0;
	}
}

.container-white
{
	background-color: $color_white;
	border-color: $color_white;
	color: $color_black;
}
.container-black
{
	background-color: $color_black;
	border-color: $color_black;
	color: $color_white;
}
.container-color-purple
{
	background-color: $color_purple;
	border-color: $color_purple;
	color: $color_white;
}
.container-color-yellow
{
	background-color: $color_yellow;
	border-color: $color_yellow;
	color: $color_white;
}
.container-color-green
{
	background-color: $color_green;
	border-color: $color_green;
	color: $color_white;
}
.container-color-blue
{
	background-color: $color_blue;
	border-color: $color_blue;
	color: $color_white;
}

.container-color-gray
{
	background-color: $color_gray;
	border-color: $color_gray;
	color: $color_white;
}

.container-background-image
{
	color: $color_white;
	background-image: url();
	background-repeat: no-repeat;
	background-position: center top;
	// -webkit-background-size: cover;
	background-size: cover;
}

.hero
{
	height: 500px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;

	.title
	{
		order: 0;
		flex: 0 1 auto;
		align-self: center;

		h1, h6 
		{
			text-shadow: 0 0 15px $color_gray;
		}
	}
}

table.table
{
	box-sizing: border-box;
	th
	{
		background-color: $color_blue;
		color: $color_white;
	}

	th, td
	{
		padding: 20px 40px;
		font-weight: 400;
		text-align: center;
		border: 2px solid $color_gray;
		box-sizing: border-box;
	}


}

