//
// Variables
// --------------------------------------------------


//== Project Colors 

$color_purple: hsla(245%, 91%, 74%, 1);
$color_blue: hsla(198%, 100%, 71%, 1);
$color_yellow: hsla(47%, 53%, 81%, 1);
$color_green: hsla(86%, 39%, 70%, 1);
$color_gray: hsla(232%, 12%, 75%, 1);

// Main white and black colors 
$color_white: hsla(255%, 255%, 255%, 1);
$color_black: hsla(0%, 0%, 20%, 1);

//Breakpoints

// Extra small screen / phone~legacy phones
$screen-phone:                  480px !default;

// Small screen / tablet~phone
$screen-tablet:                  768px !default;

// Medium screen / desktop~tablet
$screen-desktop:                  1100px !default;


// Fonts

$font-headers:			Helvetica, sans-serif;
$font-subheaders:		Helvetica, sans-serif;

$font-body:				Helvetica, sans-serif;