section.hero.container-background-image(style="background-image: url('assets/images/worthy-of-elegance-13574.jpg')" )
	.container-desktop
		.title
			h1 Literate Guide - Builder
			h6 Jade + SASS front end tasks 