section.container-color-purple#howtostart
	article.container-desktop.container-desktop-padding
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ea fugiat magni aperiam nobis dolores, obcaecati, quia eligendi eum praesentium aut. Sunt, mollitia error iste, adipisci voluptates aliquid velit incidunt.