section.container-color-black
    div.container-desktop.container-desktop-padding
        h2 Table 1
        div.table-container
            table.table
                tr
                    th Header 1
                    th Header 2
                    th Header 3
                    th Header 4
                    th Header 5
                    th Header 6
                tr
                    td Field 1
                    td Field 2
                    td Field 3
                    td Field 4
                    td Field 5
                    td Field 6
                tr
                    td Field 1
                    td Field 2
                    td Field 3
                    td Field 4
                    td Field 5
                    td Field 6
section.container-color-white
    div.container-desktop.container-desktop-padding
        h2 Table 2
        div.table-container
            table.table
                tr
                    th Header 1
                    th Header 2
                    th Header 3
                tr
                    td Field 1
                    td Field 2
                    td Field 3
                tr
                    td Field 1
                    td Field 2
                    td Field 3