// FOOTER
footer.container-dark-gray
	.footer.container-desktop
		.footer-online-degrees
			h6 ONLINE DEGREES
			ul.links
				li
					a(href='#') Master's in Business Administration
				li
					a(href='#') Master's in Finance
				li
					a(href='#') Master's in Sport's Adminisrtation
				li
					a(href='#') Master's in Professional Accounting
				li
					a(href='#') Master's in Public Administration
				li
					a(href='#') Master's in Communication Studies
				li
					a(href='#') Master's in Health Informatics
				li
					a(href='#') Master's in Nursing Informatics
				li
					a(href='#') Upcoming Degree Programs
		.footer-general-links
			ul.links
				li
					a(href='#'): h6 GET IN TOUCH
				li
					a(href='#'): h6 UONLINE LOGIN
				li
					a(href='#'): h6 STUDENT SERVICES
				li
					a(href='#'): h6 ADMISSIONS
				li
					a(href='#'): h6 FAQS
				li
					a(href='#'): h6 EVENTS
				li
					ul.icons
						li
							a(href='#')
								span.icon.icon-facebook-official
						li
							a(href='#')
								span.icon.icon-linkedin-square
						li
							a(href='#')
								span.icon.icon-twitter-square
						li
							a(href='#')
								span.icon.icon-youtube-square

		.footer-copyright-links
			ul.bottom-links
				li
					a(href='#') PRIVACY POLICY
				li
					a(href='#') COOKIE POLICY
				li
					a(href='#') UNIVERSITY OF MIAMI
				li
					a(href='#') ACCREDITATIONS
		// Copyright
		//- .copyright.hidden-xs
			ul.menu
				li © University of Miami. All rights reserved
				li
					| Design: 
					a(href='http://html5up.net') IPS

		.wrapper
			div
				img(alt='University Of Liverpool', src='assets/images/logo-university-liverpool.png')
			.text-align-right
				| University of Liverpool Online
				br
				| Laureate Online Education
				br
				| Haarlerbergweg 23C, 1101 CH Amsterdam Z.O., The Netherlands
				br
				| +31-20-713-0000
		.wrapper.hr
			hr
		.wrapper.sub-footer
			div(style='font-size: 11px;')
				| © University of Liverpool - A Member of 
				a(target='_blank', href='https://www.russellgroup.ac.uk/') The Russell Group
			.text-align-right(style='font-size: 11px;')
				a(target='_blank', href='https://www.liverpool.ac.uk/maps/') Map
				a(href='https://www.liverpool.ac.uk/legal/website-terms-and-conditions/') Terms and Conditions
				a(target='blank', href='https://www.liverpool.ac.uk/accessibility/') Accessibility
	// Request Info
	.footer-rfi.container-desktop
		.footer-rfi-link.container-main-orange
			a(href="#") REQUEST INFO
		.footer-rfi-link.container-light-orange
			a(href="#") 
				span CALL NOW
