header.navigation.fixed-header
	nav.navigation-nav.container-main-green
		div.container-desktop
			ul.push-left
				li
					a(href='#') Existing students
				li
					a(href='#') Alumni
				li
					a(href='#') Military
				li
					a(href='#') International
			ul.push-right
				li
					a(href='#') 888.555.1234
				li.container-light-orange.featured-link
					a(href='#') Apply Now
				li.container-main-orange.featured-link
					a(href='#') Request Info

	nav.main-nav.desktop-nav
		div.container-desktop
			ul.main-menu
				a.close-lvl-1 L1
				div.left-and-right
				div.center
					li.logo
						a(href="/"): img(src="assets/images/uonline_logo.png")
					a(href="#").hamburguer-menu.menu-close.toggle:  li 
				div.left
					li.link-lvl-1
						a(href="blank") ONLINE DEGREES
						span.tier-colapsable.tier-close
						div.link-lvl-2
							ul 
								a.close-lvl-2 L2
								li
									a(href="degrees.html") Happy Links
									span.tier-colapsable.tier-close
									div.link-lvl-3
										ul 
											li
												a(href="degrees.html") Online Degrees 1
											li
												a(href="online_degrees.html") Online Degrees 2
											li
												a(href="confirmation.html") Confirmation
											li
												a(href="programs.html") Programs
											li
												a(href="buttons.html") Buttons Example
								li
									a(href="") Blog
									span.tier-colapsable.tier-close
									div.link-lvl-3
										ul 
											li
												a(href="blog.html") Homepage
											li
												a(href="blog_article.html") Article
								li
									a(href="") Lnk lvl 2
								li
									a(href="") Lnk lvl 2
									span.tier-colapsable.tier-close
									div.link-lvl-3
										ul 
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
					li.link-lvl-1.active
						a(href="blank") STUDENT EXPERIENCE
					li.link-lvl-1
						a(href="blank") ABOUT UONLINE
						span.tier-colapsable.tier-close
						div.link-lvl-2
							ul 
								a.close-lvl-2 L2
								li
									a(href="") Lnk lvl 2
									span.tier-colapsable.tier-close
									div.link-lvl-3
										ul 
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
								li
									a(href="") Lnk lvl 2
									span.tier-colapsable.tier-close
									div.link-lvl-3
										ul 
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
								li
									a(href="") Lnk lvl 2
								li
									a(href="") Lnk lvl 2
									span.tier-colapsable.tier-close
									div.link-lvl-3
										ul 
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
				div.right
					li.link-lvl-1
						a(href="blank") ADMISSIONS INFO
						span.tier-colapsable.tier-close
						div.link-lvl-2
							ul 
								a.close-lvl-2 L2
								li
									a(href="") Lnk lvl 2
									span.tier-colapsable.tier-close
									div.link-lvl-3
										ul 
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
								li
									a(href="") Lnk lvl 2
									span.tier-colapsable.tier-close
									div.link-lvl-3
										ul 
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
								li
									a(href="") Lnk lvl 2
								li
									a(href="") Lnk lvl 2
									span.tier-colapsable.tier-close
									div.link-lvl-3
										ul 
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
					li.link-lvl-1
						a(href="blank") FINANCIAL AID
						span.tier-colapsable.tier-close
						div.link-lvl-2
							ul 
								a.close-lvl-2 L2
								li
									a(href="") Lnk lvl 2
									span.tier-colapsable.tier-close
									div.link-lvl-3
										ul 
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
								li
									a(href="") Lnk lvl 2
									span.tier-colapsable.tier-close
									div.link-lvl-3
										ul 
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
								li
									a(href="") Lnk lvl 2
								li
									a(href="") Lnk lvl 2
									span.tier-colapsable.tier-close
									div.link-lvl-3
										ul 
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
					li.link-lvl-1
						a(href="blank") INSIGHT BLOG
						span.tier-colapsable.tier-close
						div.link-lvl-2
							ul 
								a.close-lvl-2 L2
								li
									a(href="") Lnk lvl 2
									span.tier-colapsable.tier-close
									div.link-lvl-3
										ul 
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
								li
									a(href="") Lnk lvl 2
									span.tier-colapsable.tier-close
									div.link-lvl-3
										ul 
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
								li
									a(href="") Lnk lvl 2
								li
									a(href="") Lnk lvl 2
									span.tier-colapsable.tier-close
									div.link-lvl-3
										ul 
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
											li
												a(href="") Lnk lvl 3
				div.mobile-links
					li.link-lvl-1.container-main-green
						a(href="#") Mobile Link
						span.tier-colapsable.tier-close