header.navigation.fixed-header
	nav.navigation-nav.container-color-purple
		div.container-desktop
			ul.push-left
				li.app-name
					a(href='#') Literate Guide - Builder
				li
					a(href='#whatitis') What it is
				li
					a(href='#howtostart') How to Start
			ul.push-right
				li
					a(href='#') About the author
				li.container-color-blue.featured-link
					a(href='#') GitHub Link
